/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

#add-task-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#task-input {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  flex: 1;
}

#add-button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#add-button:hover {
  background-color: #555;
}

#filter-section {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

#filter-select,
#due-date {
  padding: 0.3rem;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  cursor: pointer;
  transition: background-color 0.2s;
}

#filter-select:hover,
#due-date:hover {
  background-color: #e0e0e0;
}

#task-list {
  padding: 1rem;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.task:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.priority-high {
  color: #f44336;
}

.priority-medium {
  color: #ffc107;
}

.priority-low {
  color: #4caf50;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0;
}

.edit-task-form {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.edit-task-form.active {
  display: block;
}
